In [12]:
import pandas as pd
wdf=pd.read_csv('Weather_monthly.csv')

In [15]:
wdf=wdf.merge(wsdf, left_on=['WBAN'], right_on=['WBAN'], how='outer')

In [13]:
#wsdf=pd.read_csv('weather_station.csv')
cols = pd.read_csv('weather_station.csv', nrows=1).columns
wsdf = pd.read_csv('weather_station.csv', usecols=cols)
print(len(wsdf))
wsdf=wsdf[['WBAN','Name','State']]
wsdf.head(5)
#len(wsdf)

61307

    WBAN         Name State
0  100.0  ARKADELPHIA    AR
1  101.0      BISHKEK   NaN
2  102.0        KIANA    AK
3  103.0        WALES    AK
4  104.0      NIKOLAI    AK

In [14]:
wsdf=wsdf.drop_duplicates()
len(wsdf)

2555

In [6]:
len(wdf)

1070027

In [16]:
wdf.head(5)

,WBAN,YearMonth,AvgMaxTemp,DepartureMaxTemp,AvgMinTemp,DepartureMinTemp,AvgTemp,DeparturefromNormal,AvgDewPoint,AvgWetBulb,...,DaysWithPrecip>=.10inch,DaysWithSnowfall>=1.0inch,WaterEquivalent,ResultantWindSpeed,ResultantWindDirection,AvgWindSpeed,AvgHDD,AvgCDD,Name,State
0,130.0,201501.0,M,M,M,M,M,M,38.5,43.6,...,M,M,M,2.6,01,4.8,15.0,0.0,PLEASANTON,TX
1,130.0,201502.0,M,M,M,M,M,M,42.6,M,...,M,M,M,2.2,04,M,M,M,PLEASANTON,TX
2,130.0,201503.0,M,M,M,M,M,M,52.2,55.5,...,M,M,M,1.7,06,4.7,M,M,PLEASANTON,TX
3,130.0,201504.0,M,M,M,M,M,M,62.4,M,...,M,M,M,2.4,09,5.6,0.2,7.2,PLEASANTON,TX
4,130.0,201505.0,M,M,M,M,M,M,68.4,71.0,...,M,M,M,6.0,11,7.7,0.0,11.8,PLEASANTON,TX

In [19]:
wdf=wdf[['YearMonth','Name','State','AvgTemp']]
wdf=wdf.drop_duplicates()
print(len(wdf))
print(len(wdf[wdf['AvgTemp']=='M']))

43869
20142